<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <a mat-raised-button color="primary" class="mb" routerLink='/dashboard'>Home</a> &nbsp;
                <div class="container text-center">

                </div>
                <h1 class="text-center">Register new Dependent</h1>

                <!-- Creating form fields -->
                <form ngNativeValidate #addDependentForm="ngForm" (ngSubmit)="addDependent()" >
                    <div *ngIf="id.errors && (id.invalid && id.touched)">
                        <small class="text-danger" *ngIf="id.errors['required']" >Member ID  Is Required Field</small>
                        <small class="text-danger" *ngIf="id.errors['pattern']">ID In Number Only </small>
                        
                      </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label  *ngIf="validId2" >Member ID</mat-label>
                        <mat-label  *ngIf="!validId2" style="color: red">Member ID is Invalid</mat-label>
                        <input type="text" name="Player id" [(ngModel)]="dependent['ID']" (ngModelChange)="getMember(dependent['ID'])"  matInput required pattern="^(?:[1-9][0-9]{0,4}(?:\.\d{1,2})?|100000|100000.00)$" #id="ngModel" 
                        [class.is-invalid]="id.invalid && id.touched && !validId " />
                    </mat-form-field>
                    <p *ngIf="validId">
                        <B>Member Name- {{member['MEMBER_NAME']}}</B><br>
                        <b>Member Family Group- {{member['FAMILY_GROUP']}}</b><br>
                        <b>Member Ticket Number - {{member['TICKET_NUMBER']}}</b>
                        
                    </p>
                    <h1 *ngIf="!allowed" style="color: red" class="text-center">{{notAllowedDataDisplay}}</h1>
                    <div *ngIf="allowed">
                    <div *ngIf="mname.errors && (mname.invalid && mname.touched)">
                        <small class="text-danger" *ngIf="mname.errors['required']">Name Is Required Field</small>
                        <small class="text-danger" *ngIf="mname.errors['pattern']">Name In Alphabets Only </small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Member Name</mat-label>
                        <input disabled required type="text" name="Member Name" [(ngModel)]="member['MEMBER_NAME']" matInput
                            required pattern="^[A-Za-z0-9 -]+$" #mname="ngModel"
                            [class.is-invalid]="mname.invalid && mname.touched" />
                    </mat-form-field>

                    <div *ngIf="dependentname.errors && (dependentname.invalid && dependentname.touched)">
                        <small class="text-danger" *ngIf="dependentname.errors['required']">Dependent Name Is Required Field</small>
                        <small class="text-danger" *ngIf="dependentname.errors['pattern']">Dependent Name In Alphabets Only </small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Dependent Name</mat-label>
                        <input required type="text" name="Dependent Name" [(ngModel)]="dependent['DEPENDENT_NAME']" matInput
                            required pattern="^[A-Za-z0-9 -]+$" #dependentname="ngModel"
                            [class.is-invalid]="dependentname.invalid && dependentname.touched" />
                    </mat-form-field>

                    <div *ngIf="relation.errors && (relation.invalid && relation.touched)">
                        <small class="text-danger" *ngIf="relation.errors['required']">Relation Is Required
                            Field</small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Select Relation</mat-label>
                        <mat-select required [(ngModel)]="dependent['RELATION']" name="department"
                            [class.is-invalid]="relation.invalid && relation.touched" #relation="ngModel">
                            <mat-option>Select Relation</mat-option>
                            <mat-option [value]='"WIFE"'>
                                WIFE
                            </mat-option>
                            <mat-option [value]='"SON"'>
                                SON
                            </mat-option>
                            <mat-option [value]='"DAUGHTER"'>
                                DAUGHTER
                            </mat-option>
                            <mat-option [value]='"FATHER"'>
                                FATHER
                            </mat-option>
                            <mat-option [value]='"MOTHER"'>
                                MOTHER
                            </mat-option>
                            <mat-option [value]='"FATHER IN LAW"'>
                                FATHER IN LAW
                            </mat-option>
                            <mat-option [value]='"MOTHER IN LAW"'>
                                MOTHER IN LAW
                            </mat-option>
                            <mat-option [value]='"SISTER"'>
                                SISTER
                            </mat-option>
                            <mat-option [value]='"HUSBAND"'>
                                HUSBAND
                            </mat-option>
                            <mat-option [value]='"SELF"'>
                                SELF
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div *ngIf="date_of_birth.errors && (date_of_birth.invalid && date_of_birth.touched)">
                        <small class="text-danger" *ngIf="date_of_birth.errors['required']">D.O.B Is Required
                            Field</small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Date Of Birth</mat-label>
                        <input required type="date" name="date_of_birth" [(ngModel)]="dependent['DOB']" matInput
                            required pattern="^[0-9 -]+$" (ngModelChange)="calculateAge(dependent['DOB'])" #date_of_birth="ngModel"
                            [class.is-invalid]="date_of_birth.invalid && date_of_birth.touched" />

                    </mat-form-field>

                    <div *ngIf="age.errors && (age.invalid && age.touched)">
                        <small class="text-danger" *ngIf="age.errors['required']">Age Is Required Field</small>
                        <small class="text-danger" *ngIf="age.errors['pattern']">Age In Number Only </small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Age</mat-label>
                        <input required type="text" name="age" [(ngModel)]="dependent['AGE']" matInput
                            required pattern="^[0-9 -]+$" #age="ngModel"
                            [class.is-invalid]="age.invalid && age.touched" />
                    </mat-form-field>

                    <div *ngIf="blood_group.errors && (blood_group.invalid && blood_group.touched)">
                        <small class="text-danger" *ngIf="blood_group.errors['required']">Blood Group Is Required
                            Field</small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Select Blood Group</mat-label>
                        <mat-select required [(ngModel)]="dependent['BLOOD_GROUP']" name="blood_group"
                            [class.is-invalid]="blood_group.invalid && blood_group.touched" #blood_group="ngModel">
                            <mat-option>Select Blood Group</mat-option>
                            <mat-option [value]="'A+VE'">
                                A+VE
                            </mat-option>
                            <mat-option [value]="'A-VE'">
                                A-VE
                            </mat-option>
                            <mat-option [value]="'B+VE'">
                                B+VE
                            </mat-option>
                            <mat-option [value]="'B-VE'">
                                B-VE
                            </mat-option>
                            <mat-option [value]="'O+VE'">
                                O+VE
                            </mat-option>
                            <mat-option [value]="'O-VE'">
                                O-VE
                            </mat-option>
                            <mat-option [value]="'AB+VE'">
                                AB+VE
                            </mat-option>
                            <mat-option [value]="'AB-VE'">
                                AB-VE
                            </mat-option>

                        </mat-select>
                    </mat-form-field>

                    <div *ngIf="sex.errors && (sex.invalid && sex.touched)">
                        <small class="text-danger" *ngIf="sex.errors['required']">sex Is Required
                            Field</small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Select Sex</mat-label>
                        <mat-select required [(ngModel)]="dependent['SEX']" name="sex"
                            [class.is-invalid]="sex.invalid && sex.touched" #sex="ngModel">
                            <mat-option>Select Sex</mat-option>
                            <mat-option [value]="'MALE'">
                                MALE
                            </mat-option>
                            <mat-option [value]="'FEMALE'">
                                FEMALE
                            </mat-option>
                            <mat-option [value]="'OTHER'">
                                OTHER
                            </mat-option>
                        </mat-select>
                    </mat-form-field>




                    <div class="container text-center">
                        <button [disabled]="addDependentForm.invalid" type="submit"
                            style="background-color: rgb(12, 134, 126);color: #fff;" mat-raised-button>Register
                            Dependent</button>
                    </div>
                </div> 
                </form>
            </div>
        </div>
    </div>
</div>