<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">

                </div>
                <h1 class="text-center">Register new Member</h1>

                <!-- Creating form fields -->
                <form ngNativeValidate #addplayerform="ngForm" (ngSubmit)="addMember()">
                    <div *ngIf="name.errors && (name.invalid && name.touched)">
                        <small class="text-danger" *ngIf="name.errors['required']">Name Is Required Field</small>
                        <small class="text-danger" *ngIf="name.errors['pattern']">Name In Alphabates Only </small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Member Name</mat-label>
                        <input required type="text" name="Player Name" [(ngModel)]="member.member_name" matInput
                            required pattern="^[A-Za-z -]+$" #name="ngModel"
                            [class.is-invalid]="name.invalid && name.touched" />
                    </mat-form-field>

                    <div *ngIf="ticket.errors && (ticket.invalid && ticket.touched)">
                        <small class="text-danger" *ngIf="ticket.errors['required']">Name Is Required Field</small>
                        <small class="text-danger" *ngIf="ticket.errors['pattern']">Name In Alphabates Only </small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Ticket Number</mat-label>
                        <input required type="text" name="Ticket Number" [(ngModel)]="member.ticket_number" matInput
                            required pattern="^[0-9 -]+$" #ticket="ngModel"
                            [class.is-invalid]="ticket.invalid && ticket.touched" />
                    </mat-form-field>


                    <div *ngIf="department.errors && (department.invalid && department.touched)">
                        <small class="text-danger" *ngIf="department.errors['required']">Sports Is Required
                            Field</small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Select Department</mat-label>
                        <mat-select required [(ngModel)]="member.department" name="department"
                            [class.is-invalid]="department.invalid && department.touched" #department="ngModel">
                            <mat-option>Select Sports</mat-option>
                            <mat-option *ngFor="let department of departmentList" [value]="department['DEPARTMENT']">
                                {{department['DEPARTMENT']}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                    <div *ngIf="date_of_birth.errors && (date_of_birth.invalid && date_of_birth.touched)">
                        <small class="text-danger" *ngIf="date_of_birth.errors['required']">D.O.B Is Required
                            Field</small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Date Of Birth</mat-label>
                        <input required type="date" name="date_of_birth" [(ngModel)]="member.date_of_birth" matInput
                            required pattern="^[0-9 -]+$" #date_of_birth="ngModel"
                            [class.is-invalid]="date_of_birth.invalid && date_of_birth.touched" />

                    </mat-form-field>

                    <div *ngIf="ticket.errors && (ticket.invalid && ticket.touched)">
                        <small class="text-danger" *ngIf="ticket.errors['required']">Name Is Required Field</small>
                        <small class="text-danger" *ngIf="ticket.errors['pattern']">Name In Alphabates Only </small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Ticket Number</mat-label>
                        <input required type="text" name="Ticket Number" [(ngModel)]="member.ticket_number" matInput
                            required pattern="^[0-9 -]+$" #ticket="ngModel"
                            [class.is-invalid]="ticket.invalid && ticket.touched" />
                    </mat-form-field>

                    <div *ngIf="date_of_birth.errors && (date_of_birth.invalid && date_of_birth.touched)">
                        <small class="text-danger" *ngIf="date_of_birth.errors['required']">D.O.B Is Required
                            Field</small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Date Of Birth</mat-label>
                        <input required type="date" name="date_of_birth" [(ngModel)]="member.date_of_birth" matInput
                            required pattern="^[0-9 -]+$" #date_of_birth="ngModel"
                            [class.is-invalid]="date_of_birth.invalid && date_of_birth.touched" />

                    </mat-form-field>

                    <div *ngIf="department.errors && (department.invalid && department.touched)">
                        <small class="text-danger" *ngIf="department.errors['required']">Sports Is Required
                            Field</small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Select Department</mat-label>
                        <mat-select required [(ngModel)]="member.department" name="department"
                            [class.is-invalid]="department.invalid && department.touched" #department="ngModel">
                            <mat-option>Select Sports</mat-option>
                            <mat-option *ngFor="let department of departmentList" [value]="department['DEPARTMENT']">
                                {{department['DEPARTMENT']}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                    <div *ngIf="Contact.errors && (Contact.invalid && Contact.touched)">
                        <small class="text-danger" *ngIf="Contact.errors['required']">Contact Is Required Field</small>
                        <small class="text-danger" *ngIf="Contact.errors['pattern']">Valid Contact No. Required</small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Mobile Number</mat-label>
                        <input required type="number" [(ngModel)]="member.mobile" name="Contact Number" matInput required
                            pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$" #Contact="ngModel"
                            [class.is-invalid]="Contact.invalid && Contact.touched" />
                    </mat-form-field>


                    <div *ngIf="department.errors && (department.invalid && department.touched)">
                        <small class="text-danger" *ngIf="department.errors['required']">Sports Is Required
                            Field</small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Select Department</mat-label>
                        <mat-select required [(ngModel)]="member.department" name="department"
                            [class.is-invalid]="department.invalid && department.touched" #department="ngModel">
                            <mat-option>Select Sports</mat-option>
                            <mat-option *ngFor="let department of departmentList" [value]="department['DEPARTMENT']">
                                {{department['DEPARTMENT']}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div *ngIf="department.errors && (department.invalid && department.touched)">
                        <small class="text-danger" *ngIf="department.errors['required']">Sports Is Required
                            Field</small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Select Department</mat-label>
                        <mat-select required [(ngModel)]="member.department" name="department"
                            [class.is-invalid]="department.invalid && department.touched" #department="ngModel">
                            <mat-option>Select Sports</mat-option>
                            <mat-option *ngFor="let department of departmentList" [value]="department['DEPARTMENT']">
                                {{department['DEPARTMENT']}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                    <div *ngIf="department.errors && (department.invalid && department.touched)">
                        <small class="text-danger" *ngIf="department.errors['required']">Sports Is Required
                            Field</small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Select Department</mat-label>
                        <mat-select required [(ngModel)]="member.department" name="department"
                            [class.is-invalid]="department.invalid && department.touched" #department="ngModel">
                            <mat-option>Select Sports</mat-option>
                            <mat-option *ngFor="let department of departmentList" [value]="department['DEPARTMENT']">
                                {{department['DEPARTMENT']}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    


                    <div *ngIf="name.errors && (name.invalid && name.touched)">
                        <small class="text-danger" *ngIf="name.errors['required']">Name Is Required Field</small>
                        <small class="text-danger" *ngIf="name.errors['pattern']">Name In Alphabates Only </small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Member Name</mat-label>
                        <input required type="text" name="Player Name" [(ngModel)]="member.member_name" matInput
                            required pattern="^[A-Za-z -]+$" #name="ngModel"
                            [class.is-invalid]="name.invalid && name.touched" />
                    </mat-form-field>

                    <div *ngIf="name.errors && (name.invalid && name.touched)">
                        <small class="text-danger" *ngIf="name.errors['required']">Name Is Required Field</small>
                        <small class="text-danger" *ngIf="name.errors['pattern']">Name In Alphabates Only </small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Member Name</mat-label>
                        <input required type="text" name="Player Name" [(ngModel)]="member.member_name" matInput
                            required pattern="^[A-Za-z -]+$" #name="ngModel"
                            [class.is-invalid]="name.invalid && name.touched" />
                    </mat-form-field>


                    <div *ngIf="Contact.errors && (Contact.invalid && Contact.touched)">
                        <small class="text-danger" *ngIf="Contact.errors['required']">Contact Is Required Field</small>
                        <small class="text-danger" *ngIf="Contact.errors['pattern']">Valid Contact No. Required</small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Mobile Number</mat-label>
                        <input required type="number" [(ngModel)]="member.mobile" name="Contact Number" matInput required
                            pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$" #Contact="ngModel"
                            [class.is-invalid]="Contact.invalid && Contact.touched" />
                    </mat-form-field>

                    <div *ngIf="ticket.errors && (ticket.invalid && ticket.touched)">
                        <small class="text-danger" *ngIf="ticket.errors['required']">Name Is Required Field</small>
                        <small class="text-danger" *ngIf="ticket.errors['pattern']">Name In Alphabates Only </small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Ticket Number</mat-label>
                        <input required type="text" name="Ticket Number" [(ngModel)]="member.ticket_number" matInput
                            required pattern="^[0-9 -]+$" #ticket="ngModel"
                            [class.is-invalid]="ticket.invalid && ticket.touched" />
                    </mat-form-field>



                     <div *ngIf="email.errors && (email.invalid && email.touched)">
                        <small class="text-danger" *ngIf="email.errors['required']" >Email Id Is Required Field</small>
                        <small class="text-danger" *ngIf="email.errors['pattern']">Please Enter Valid Email Address</small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email address</mat-label>
                        <input required type="email" [(ngModel)]="member.mobile" name="Email address" matInput required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #email="ngModel" 
                        [class.is-invalid]="email.invalid && email.touched" />
                    </mat-form-field>

                    <div *ngIf="department.errors && (department.invalid && department.touched)">
                        <small class="text-danger" *ngIf="department.errors['required']">Sports Is Required
                            Field</small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Select Department</mat-label>
                        <mat-select required [(ngModel)]="member.department" name="department"
                            [class.is-invalid]="department.invalid && department.touched" #department="ngModel">
                            <mat-option>Select Sports</mat-option>
                            <mat-option *ngFor="let department of departmentList" [value]="department['DEPARTMENT']">
                                {{department['DEPARTMENT']}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                    
                    <div *ngIf="ticket.errors && (ticket.invalid && ticket.touched)">
                        <small class="text-danger" *ngIf="ticket.errors['required']">Name Is Required Field</small>
                        <small class="text-danger" *ngIf="ticket.errors['pattern']">Name In Alphabates Only </small>
                    </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Ticket Number</mat-label>
                        <input required type="text" name="Ticket Number" [(ngModel)]="member.ticket_number" matInput
                            required pattern="^[0-9 -]+$" #ticket="ngModel"
                            [class.is-invalid]="ticket.invalid && ticket.touched" />
                    </mat-form-field>





                   <!-- <div *ngIf="password.errors && (password.invalid && password.touched)">
                        <small class="text-danger" *ngIf="password.errors['required']" >Password Is Required Field</small>
                        <small class="text-danger" *ngIf="password.errors['pattern']">Password Must be Minimum 8 characters, at least 1 letter and 1 number: </small>
                      </div>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input required type="text" name="password" [(ngModel)]="member.password" matInput required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" #password="ngModel" 
                        [class.is-invalid]="password.invalid && password.touched" />
                    </mat-form-field> -->





                    <!-- <ng-select [(ngModel)]="member.department" name="department">
                        <ng-option *ngFor="let Event of sportslistarray" [value]="Event.department">{{Event.department}}</ng-option>
                     </ng-select> -->





                    <div class="container text-center">
                        <button [disabled]="addplayerform.invalid" type="submit"
                            style="background-color: rgb(12, 134, 126);color: #fff;" mat-raised-button>Register
                            Member</button>
                    </div>
                </form>
                <!-- {{credentials | json}} -->
            </div>
        </div>
    </div>
</div>