.ml{
    margin-left: 30px;
}


.bootstrap-wrapper
{
    background: rgb(255,0,229);
    background: linear-gradient(344deg, rgba(255,0,229,0.9924928467480743) 0%, rgba(20,97,121,1) 33%, rgba(26,155,184,1) 66%, rgba(93,162,56,1) 100%);
}
