<div style="padding-top: 5%;" class="div bootstrap-wrapper">
    <div class="div container text-center">
        <h1 style="text-shadow: 2px 1px 2px rgba(73, 92, 185, 0.922); font-size: 50px; color: rgb(21, 79, 150);">Welcome</h1>
        <br>
        <img src="assets/logo.png" alt="logo" class="img-fluid" height="15%" width="15%">
        <br>
        <br>
        <h1 style="text-shadow: 2px 1px 2px rgba(39, 115, 229, 0.615); font-size: 40px; color: rgba(175, 255, 201, 0.9);">Insurance Management Website</h1>
        <!-- <h1>User Name - <b>{{userNameDisplay}}</b></h1> -->
        <a  mat-raised-button color="primary" class="mb"  routerLink='/search-member'>Search Member</a> &nbsp;
        <a  mat-raised-button color="primary" class="mb"  routerLink='/add-member'>Add Member</a> &nbsp;
        
        <!-- <br class="d-md-none">
        <br class="d-md-none">
        <a  mat-raised-button color="primary" class="mb"  routerLink='/search-dependent'>Search Dependent</a>&nbsp;
        <a mat-raised-button color="primary" class="mb" routerLink='/add-dependent'>Add Dependent</a> &nbsp;
        <br>
        <br> -->
        
<!-- 
        <a  mat-raised-button color="primary" class="mb"  routerLink='/check-mediclaim-membership'>Renew/Check Mediclaim Status</a> &nbsp;
        <br class="d-md-none">
        <br class="d-md-none">
        <a  mat-raised-button color="primary" class="mb"  routerLink='/past-payment'>Get Past Mediclaim Payment Record</a>
        <br>
        <br> -->
        

        <a  mat-raised-button color="primary" class="mb"  routerLink='/check-subscription-status'>Renew/Check Subscription Status</a> &nbsp;
        <br class="d-md-none">
        <br class="d-md-none">
        <a  mat-raised-button color="primary" class="mb"  routerLink='/past-subscription'>Get Past Subscription Record</a> 
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
    </div>
</div>