<h1 class="text-center mt">Get Past Subscription Payment Records</h1>
<div class="bootstrap-wrapper">
    <div class="container mt text-center">
        <form (submit)="searchByParam()">
            <input type="text" placeholder="Enter ID Number " name="search" [(ngModel)]="searchValue"> &nbsp;
            <button mat-raised-button color="primary" type="submit">Search</button>
        </form>
        <a mat-raised-button color="primary" class="mb mt" routerLink='/dashboard'>Back</a> &nbsp;
        <div class="row">
            <table width="90%" *ngIf="data" id="customers">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>MODE OF PAYMENT</th>
                        <th>REFERENCE NUMBER</th>
                        <th>ISSUE DATE</th>
                        <th>EXPIRY DATE</th>
                        <th>BANK</th>
                        <th>BRANCH</th>
                        <th>AMOUNT</th>
                        <th>REMARKS</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let member of fetchedData.data;let index=index">
                        <td><b>{{member['ID_NUMBER']}}</b></td>
                        <td>{{member['MODE_OF_PAYMENT']}}</td>
                        <td>{{member['REFERENCE_NUMBER']}}</td>
                        <td>{{this.datepipe.transform(member['ISSUE_DATE'], 'dd/MM/yyyy') }}</td>
                        <td>{{this.datepipe.transform(member['EXPIRY_DATE'], 'dd/MM/yyyy') }}</td>
                        <td><b>{{member['BANK']}}</b></td>
                        <td><b>{{member['BRANCH']}}</b></td>
                        <td><b>{{member['AMOUNT']}}</b></td>
                        <td><b>{{member['REMARKS']}}</b></td>
                        <td style='white-space: nowrap'>
                            <button type="button" (click)="printReceipt(member['NO'])" mat-raised-button color="warn">PRINT</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3 *ngIf="!data" class="text-center red">{{noDataDisplay}}</h3>
        </div>
    </div>
</div>