<h1 class="text-center mt">Check Subscription Of Member</h1>
<div class="bootstrap-wrapper">
    <div class="container mt text-center">
        <form (submit)="searchByParam()">
            <input type="text" placeholder="Enter ID Number " name="search" [(ngModel)]="searchValue"> &nbsp;
            <button mat-raised-button color="primary" type="submit">Search</button>
        </form>
        <a mat-raised-button color="primary" class="mb mt" routerLink='/dashboard'>Back</a> &nbsp;
        <div class="row">
            <table width="90%" *ngIf="data" id="customers">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>MOBILE</th>
                        <th>EMAIL</th>
                        <th>ISSUE DATE</th>
                        <th>AMOUNT</th>
                        <th>STATUS</th>
                        <th>ID</th>
                        <th>TICKET NUMBER</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{fetchedData['member_NAME']}}</td>
                        <td>{{fetchedData['mobile']}}</td>
                        <td>{{fetchedData['email']}}</td>
                        <td>{{this.datepipe.transform(fetchedData['issue_DATE'], 'dd/MM/yyyy') }}</td>
                        <td>{{fetchedData['amount']}}</td>
                        <td><b>{{fetchedData['status']}}</b></td>
                        <td><b>{{fetchedData['id_NUMBER']}}</b></td>
                        <td><b>{{fetchedData['ticket_NUMBER']}}</b></td>


                        <td style='white-space: nowrap'>
                            <button type="button" (click)="renewSubscription(fetchedData['id_NUMBER'])" mat-raised-button color="warn">RENEW</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3 *ngIf="!data" class="text-center red">{{noDataDisplay}}</h3>
        </div>
    </div>
</div>