<h1 class="text-center mt">Member List</h1>
<div class="bootstrap-wrapper">
    <div class="container mt text-center">
        <form (submit)="searchByParam()">
            <input type="text" placeholder="Enter ID Number / Ticket Number / Mobile Number" name="search" [(ngModel)]="searchValue"> &nbsp;
            <button mat-raised-button color="primary" type="submit">Search</button>
        </form>
        <a mat-raised-button color="primary" class="mb mt" routerLink='/dashboard'>Back</a> &nbsp;
        <div class="row">
            <table width="90%" *ngIf="data" id="customers">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>DEPARTMENT</th>
                        <th>MOBILE</th>
                        <th>ADDRESS</th>
                        <th>EMAIL</th>
                        <th>ID</th>
                        <th>TICKET NUMBER</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let member of fetchedData;let index=index">
                        <td>{{member['member_NAME']}}</td>
                        <td>{{member['department']}}</td>
                        <td>{{member['mobile']}}</td>
                        <td>{{member['address']}}</td>
                        <td>{{member['email']}}</td>
                        <td><b>{{member['id_NUMBER']}}</b></td>
                        <td><b>{{member['ticket_NUMBER']}}</b></td>


                        <td style='white-space: nowrap'>
                            <button type="button" (click)="updateMember(member['ID_NUMBER']);"  mat-raised-button color="warn">Edit</button>&nbsp;&nbsp;
                            <button type="button" (click)="alertConfirmation(member['ID_NUMBER']);" mat-raised-button color="warn">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3 *ngIf="!data" class="text-center red">{{noDataDisplay}}</h3>
        </div>
    </div>
</div>