<h1 class="text-center mt">Dependent List</h1>
<div class="bootstrap-wrapper">
    <div class="container mt text-center">
        <form (submit)="searchByParam()">
            <input type="text" placeholder="Enter Member ID Number" name="search" [(ngModel)]="searchValue"> &nbsp;
            <button mat-raised-button color="primary" type="submit">Search</button>
        </form>
        <a mat-raised-button color="primary" class="mb mt" routerLink='/dashboard'>Back</a> &nbsp;
        <div class="row">
            <table  *ngIf="data" id="customers">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>RELATION</th>
                        <th>DEPENDENT OF</th>
                        <th>AGE</th>
                        <th>STATUS</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Dependent of fetchedData.data;let index=index">
                        <td>{{Dependent['DEPENDENT_NAME']}}</td>
                        <td>{{Dependent['RELATION']}}</td>
                        <td>{{Dependent['MEMBER_NAME']}}</td>
                        <td>{{Dependent['AGE']}}</td>
                        <td>{{Dependent['STATUS']}}</td>



                        <td>
                            <button type="button" mat-raised-button color="warn">Edit</button>&nbsp;&nbsp;
                            <button type="button" mat-raised-button color="warn">Delete</button>&nbsp;&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3 *ngIf="!data" class="text-center red">{{noDataDisplay}}</h3>
        </div>
    </div>
</div>